/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yanone+Kaffeesatz&display=swap');
* {
    box-sizing: border-box;
}
:root {  font-size: 16px; }

body {
    margin: 0;
    padding: 0;
    background:#8d6e63!important;
    font-family: 'Special Elite', serif!important;
    .header{
        background:#3b444b ;
        box-shadow:20px 20px 50px #5d4037;
        a{
            color:#ff8a65!important;
            h1{
            font-family: 'Special Elite';
            }
        }
    }
}